{% extends "base.html" %} {% block title %}About{% endblock %} {% block content
%}
<div id="page-heading"><h2>hi again!</h2></div>
<div class="about-grid">
  <div id="self-image">
    <img src="{{url_for('static', filename='party_in_da_hous.jpg')}}" />
  </div>
  <div id="bio">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
      consectetur saepe voluptatum nulla molestiae quas recusandae labore quae
      doloremque vitae, aliquam adipisci facere eos corporis a. Provident
      temporibus at fugit.
    </p>
  </div>
  <div id="current-project">
    <h4>currently working on:</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
      consectetur saepe voluptatum nulla molestiae quas recusandae labore quae
      doloremque vitae, aliquam adipisci facere eos corporis a. Provident
      temporibus at fugit.
    </p>
  </div>
  <div id="contact">
    <h4>contact me :)</h4>
    <p style="word-break: break-all">email: angelamoon2446@gmail.com</p>
    <p>instagram: @angelamoooon</p>
  </div>
</div>
{% endblock %}
