{% extends "base.html" %} {% block title %}Blog{% endblock %} {% block content
%}
<div id="page-heading">
  <h2>thoughts, rants, the like</h2>
  <p>funny tagline</p>
</div>
<div id="posts">
  <hr />
  {% for post in posts %} {% if user.is_authenticated %}
  <div class="submit-button delete-button">
    <button type="button"><a href="/delete-post/{{post.id}}">delete</a></button>
  </div>
  <div class="submit-button edit-button">
    <button type="button"><a href="/edit-post/{{post.id}}">edit</button>
  </div>
  {% endif %}
  <div class="post-card">
    <h4 class="card-title">
      <a href="post/{{post.id}}"
        >{{post.title}} —
        <span class="card-subtitle">{{post.date_created.strftime('%B %d, %Y')}}</span></a
      >
    </h4>
    <div class="post-date">
      <p>{{post.subtitle}}</p>
    </div>
  </div>
  <hr />
  {% endfor %}
</div>
{% endblock %}
