{% extends "base.html" %} {% block title %}Create Post{% endblock %} {% block
content %}
<div id="page-heading">
  <h2>create blog post</h2>
</div>
<form method="post">
  <div class="input-text"><input type="text" name="title" id="title" placeholder="Title"></input></div> 
  <div class="input-text"><input style="width: 100%" type="text" name="subtitle" id="subtitle" placeholder="Subtitle"></input></div> 
  <div class="input-text"><textarea name="text" id="myTextarea"></textarea></div>
  
  <br />
  <div class="submit-button"><button type="submit">Submit</button></div>
</form>
{% endblock %}
