{% extends "base.html" %} {% block title %}Projects{% endblock %} {% block
content %}
<div id="page-heading">
  <h2>work!</h2>
  <p>description!</p>
</div>
<div id="posts">
  <ul>
      <div class="post-card">
        <h4 class="card-title"><li>
          <a href=""
            >mini-programs —
            <span class="card-subtitle">bite-size cs projects!</span></a
          >
        </h4>
        <div class="post-date">
          <p>none yet--check back soon :)</p>
        </div>
      </li>
      </div>
      <div class="post-card">
        <h4 class="card-title"><li>
          <a href=""
            >bigger programs —
            <span class="card-subtitle">majors programming projects!</span></a
          >
        </h4>
        <div class="post-date">
          <p>none yet--check back soon :)</p>
        </div>
      </li>
      </div>
      <div class="post-card">
        <h4 class="card-title"><li>
          <a href="projects/fashion-design"
            >sewing —
            <span class="card-subtitle">fun and funky fashion design endeavors!</span></a
          >
        </h4>
        <div class="post-date">
          <p>ft. my prom dress, a bunch of bucket hats, and incomplete skirts</p>
        </div>
      </li>
      </div>
  </ul>
</div>

{% endblock %}
